<!DOCTYPE html>
<head>
  <script type="text/javascript" src="/static/javascripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/login_view.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/static/stylesheets/register.css">
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="email" type="text" placeholder="email address"/>
        <input id="password" type="password" placeholder="password"/>
        <button id="login">login</button>
        <p class="message">Don't have an account? <a href="#">Sign Up</a></p>
      </form>
    </div>
  </div>
</body>
</html>
