<!DOCTYPE html>
<head>
  <script type="text/javascript" src="/static/javascripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/register.js"></script>
  <script type="text/javascript" src="/static/javascripts/register_view.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/static/stylesheets/register.css">
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <textarea id="message" type="text" placeholder="message"/>
        <button id="setm" onclick="setMessage();">create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
    </div>
  </div>
</body>
</html>
