<!DOCTYPE html>
<head>
  <script type="text/javascript" src="/static/javascripts/jquery-3.2.1.min.js"></script>
  <!-- <script type="text/javascript" src="/static/javascripts/message.js"></script> -->
  <script type="text/javascript" src="/static/javascripts/message_view.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/static/stylesheets/message.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHELRy9zl-2Z0wC_jOmeGUJJotpKqgziU&callback=initMap" async defer></script>
</head>
<body>
  <div class="message-page col-md-4">
    <div class="form">
      <form class="login-form">
        <textarea id="message" type="text" placeholder="message"></textarea>
        <button id="setm" onclick="setMessage();">add message</button>
      </form>
    </div>
  </div>
  <div id="map" style="height: 400px" class="col-md-8"></div>
</body>
</html>
