<!DOCTYPE html>
<head>
  <script type="text/javascript" src="/static/javascripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/register.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/static/stylesheets/register.css">
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="user" type="text" placeholder="user"/>
        <input id="password" type="password" placeholder="password"/>
        <input id="email" type="text" placeholder="email address"/>
        <button id="create">create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
    </div>
  </div>
</body>
</html>
